:root {
    --pastel-pink: #ffb3ba;
    font-family: 'Kalam', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    max-width: 50rem;
    min-width: 22rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    background-color: var(--pastel-pink);
}


h1 {
    font-family: 'Moo Lah Lah', sans-serif;
    font-size: 3rem;
    margin-bottom: 0;
}

.h2-headings {
    font-family: 'Moo Lah Lah', sans-serif;
    font-size: 3rem;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border: black 2px solid;
    padding: 1rem;
    background-color: white;
}

.btn {
    background-color: var(--pastel-pink);
    width: 20rem;
    text-decoration: none;
    font-family: sans-serif;
    color: inherit;
    border: none;
    padding: 1rem 7rem;
    margin-bottom: 1.3rem;
    font-size: 1.3rem;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    background-color: #fcd2d6;
}

.tagline {
    font-size: 2rem
}

.style-form {
    display: flex;
    justify-content: center;
    align-items: centet;
    align-items: center;
    flex-flow: column;
    gap: 1rem;
    font-size: 1.5rem;
}

input {
    width: 20rem;
    border: none;
    border-bottom: 2px solid black;
}

.error-message {
    font-family: 'Moo Lah Lah', sans-serif;
}

.post-container {
    margin-top: 1rem;
    font-size: 1.3rem;
}

.delete-button {
    width: 3rem;
    height: 2rem;
    border-radius: 0%;
    border: 1px solid black;
    font-weight: bold;
}